/* responsive for small device */
@media screen and (max-width: 425px) {
  .nav-container {
    flex-direction: column;
  }
  .nav-items {
    flex-direction: column;
  }
  .nav-items a {
    margin-top: 3rem;
  }

  /* banner section */
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-text {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
  }
  .banner-img {
    width: 100%;
  }
  .banner-title {
    font-size: 3rem;
  }
  .banner-description {
    font-size: 1.5rem;
  }

  /* gamer section */
  .gamer-container {
    flex-direction: column;
    margin-top: 3rem;
  }
  .gamer-img {
    width: 100%;
  }
  .gamer-text {
    width: 100%;
    text-align: center;
  }

  /* card-section */
  .cards {
    grid-template-columns: 1fr;
    padding: 15px;
  }
  .card img {
    width: 100%;
  }
  .card p {
    margin: 1rem 0;
  }
  /* game section */
  .games {
    grid-template-columns: repeat(2, 1fr);
  }
  /* platform section */

  .platform-container {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
  }

  .image-container div img {
    left: 65%;
  }

  .image-text {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
  /* footer content */
  .footer-content {
    flex-direction: column;
  }
  .footer-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .footer-policy {
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-logo h3 {
    margin-top: 2rem;
  }
  .footer {
    margin-top: 2rem;
  }
  .footer-icon button {
    background-color: #0b0223;
    color: white;
    border: 0;
  }
}
