@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
html {
  font-size: 10px;
}

.primary-color {
  color: #ff42a5;
}
.primary-text {
  color: #534c64;
  font-size: 1.8rem;
}
.text-color{
  color: #534c64;
}

/* navbar style */
.nav-container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.logo-container {
  width: 50%;
  display: flex;
  align-items: center;
}
.logo-container h3 {
  font-size: 4.5rem;
  font-weight: 700;
}
.logo-container img {
  margin-right: 2rem;
}
.nav-items {
  width: 50%;
}
.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-items a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #3c354f;
  font-weight: 500;
}
.follow-btn {
  padding: 10px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

/* Banner section style */
.banner-container {
  max-width: 120rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.banner-text {
  width: 50%;
}
.banner-text i {
  font-size: 1.5rem;
}
.banner-img {
  width: 50%;
}
.banner-img img {
  width: 100%;
}
.banner-title {
  color: #0b0223;
  font-size: 4.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.goat {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  margin: 20px 0;
}
.banner-description {
  color: #534c64;
  font-size: 2rem;
  font-weight: 500;
  text-transform: lowercase;
  margin-top: 15px;
}
.btn-primary {
  padding: 15px 30px;
  border: none;
  background-color: #ff42a5;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  margin-top: 25px;
}
.btn-secondary {
  padding: 15px 30px;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  background: #4ec5f7;
  margin-top: 25px;
}

/* responsive for small device */
@media screen and (max-width: 425px) {
  .nav-container {
    flex-direction: column;
  }
  .nav-items {
    flex-direction: column;
  }
  .nav-items a {
    margin-top: 3rem;
  }

  /* banner section */
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-text {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
  }
  .banner-img {
    width: 100%;
  }
  .banner-title {
    font-size: 3rem;
  }
  .banner-description {
    font-size: 1.5rem;
  }
 
}
