@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
html {
  font-size: 10px;
}

.primary-color {
  color: #ff42a5;
}
.primary-text {
  color: #534c64;
  font-size: 1.8rem;
}

/* navbar style */
.nav-container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.logo-container {
  width: 50%;
  display: flex;
  align-items: center;
}
.logo-container h3 {
  font-size: 4.5rem;
  font-weight: 700;
}
.logo-container img {
  margin-right: 2rem;
}
.nav-items {
  width: 50%;
}
.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-items a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #3c354f;
  font-weight: 500;
}
.follow-btn {
  padding: 10px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

/* Banner section style */
.banner-container {
  max-width: 120rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.banner-text {
  width: 50%;
}
.banner-text i {
  font-size: 1.5rem;
}
.banner-img {
  width: 50%;
}
.banner-img img {
  width: 100%;
}
.banner-title {
  color: #0b0223;
  font-size: 4.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.goat {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  margin: 20px 0;
}
.banner-description {
  color: #534c64;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: lowercase;
  margin-top: 15px;
}
.btn-primary {
  padding: 15px 30px;
  border: none;
  background-color: #ff42a5;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  margin-top: 25px;
}
.btn-secondary {
  padding: 15px 30px;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  background: #4ec5f7;
  margin-top: 25px;
}

/* gamer section */

.gamer-container {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  align-items: center;
  text-align: right;
}
.gamer-img {
  width: 60%;
}
.gamer-img img {
  width: 100%;
}
.gamer-text {
  width: 40%;
}

.gamer-title {
  font-size: 4rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-description {
  color: #534c64;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1.5rem 0;
}
.gamer-quote {
  color: #534c64;
  font-size: 2.4rem;
  font-weight: 500;
}

/* card section */
.card-container {
  max-width: 120rem;
  margin: 0 auto;
}
.card-title-container {
  text-align: center;
}
.card-title-container h3 {
  color: #0b0223;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 3rem;
}
.card-title-container p {
  color: #534c64;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 3rem 0;
}
.funny {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.card img {
  width: 90%;
}
.card p {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
  line-height: normal;
}

/* platform section */
.image-container {
  position: relative;
  width: 50%;
}
.image-container div img {
  position: absolute;
  top: 70%;
  left: 75%;
  width: 35%;
}
.platform-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 50px auto 100px;
}
.platform-title {
  font-size: 48px;
  font-weight: 700;
}
.main-img {
  width: 100%;
  margin-right: 50px;
}
.image-text h3 {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-text p {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
}
.image-text {
  width: 50%;
  text-align: right;
}
.main-img {
  width: 100%;
  margin-right: 0px;
}

/* game section */

.games {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 120rem;
  margin: 0 auto;
  gap: 10px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  margin-top: 3rem;
}
.game {
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 5px;
  color: #fff;
}
.game img {
  margin-right: 10px;
}
.game p {
  color: #0b0223;
  font-size: 1.5rem;
  font-weight: 600;
}
.arcade {
  border: 2px solid #ff42a5;
}
.game:hover {
  border: 2px solid #ff42a5;
}

/* footer section */

.footer {
  min-height: 400px;
  background: #0b0223;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-content {
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  gap: 4.5rem;
  color: rgba(255, 255, 255, 0.6);
  margin: 4rem 0;
}
.footer-policy {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  gap: 1.5rem;
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer-logo h3 {
  font-size: 4.5rem;
  font-weight: 700;
}
.footer-icon {
  /* border: 2px solid white; */
  display: flex;
  justify-content: space-around;
}
.footer-icon button {
  font-size: 3rem;
}
.copyright {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.6rem;
  font-weight: 500;
}
